@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .z-none {
    z-index: -1;
  }

  @variants hover {
    .bg-blur-sm {
      backdrop-filter: blur(1px);
    }

    .bg-blur {
      backdrop-filter: blur(2px);
    }

    .bg-blur-md {
      backdrop-filter: blur(4px);
    }

    .bg-blur-lg {
      backdrop-filter: blur(8px);
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
